/.bundle
db/*.sqlite3
.sass-cache/

tmp/*
!tmp
log/*.log
!log
.sass-cache/

# Ignore all .yml files in config, because they should obviously are env specific.
config/*.yml

public/assets/
public/maintenance.html

.DS_Store
!.gitkeep
