.container

  .searchForm
    %input(type='text' id="search_text" placeholder='Type something in')
    %input(type='button' id="search_submit" value="Search")

  .searchResults
    %table#results

      // This is a template, we clone it with jQuery to keep filling the table
      // with search results
      %tr.template
        %td
        %td
        %td
        %td
        %td
