.container {
  
  margin: 0 auto; width: 700px;
  .searchForm {
    margin-top: 3em; text-align: center;
    input { font-size: 200%; }
    input#search_submit { width: 150px; }
  }

  .searchResults {
    margin-top: 5em;
    table {
      width: 100%;
      tr.template { display: none; }
      td { width: 20%; text-align: center; vertical-align: middle; }
    }
  }

}
